[submodule "Arduino_robot_control"]
	path = Arduino_robot_control
	url = https://github.com/RhysEvan/Arduino_robot_control
[submodule "threed_mapping"]
	path = threed_mapping
	url = https://github.com/RhysEvan/threed_mapping
[submodule "kinematics"]
	path = Inverse_kinematics_ML
	url = https://github.com/RhysEvan/Inverse_kinematics_ML
[submodule "retna"]
	path = retna
	url = https://github.com/RhysEvan/retna
