[submodule "retna"]
	path = retna
	url = https://github.com/EdgarCardenasDeLaHoz/retna
[submodule "checherkboard_detection"]
	path = checherkboard_detection
	url = https://bitbucket.org/MichaelHillen/checkerboard_detection/src/main/
[submodule "Arduino_robot_control"]
	path = Arduino_robot_control
	url = https://github.com/RhysEvan/Arduino_robot_control
[submodule "threed_mapping"]
	path = threed_mapping
	url = https://github.com/RhysEvan/threed_mapping
