[submodule "retna"]
	path = retna
	url = https://github.com/EdgarCardenasDeLaHoz/retna
[submodule "checkerboard_detection"]
	path = checkerboard_detection
	url = https://RhysEvansG@bitbucket.org/MichaelHillen/checkerboard_detection.git
